html {  
    background:rgba(243,244,244,1);
    /* height: 100vh; */
    overflow: hidden;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .mapPage {
    font-family: Georgia, sans-serif;
    /* margin-top: 3em; */
    text-align: center;
  }

  .mapPage ul {
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
  }
  .mapPage ul li {
    margin-top: 12px;
    margin-left: 12px;
    background: #ccc;
    padding: 5px 10px;
  }
  .mapPage ul li a {
    font-size: 14px;
    color: #666;
    text-decoration: none;
  }

  

